html{
  scroll-behavior: smooth;
}

.div-top{
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1000;
}

.table-top{
  padding-left: 30px;
  padding-right: 20px;
  padding-top: 7px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: bolder;
}

.table-top:hover{
  background-color: rgba(0, 0, 0, 0.082);
  transition: 0.15s linear;
  color: white;
  padding-bottom: 10px;
}

a{
  text-decoration: none;
  color: white;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0px;
    min-width: 100%;
    min-height: 100%;
  }
  
  /* Add some content at the bottom of the video/page */
  .content {
    position: fixed;
    top: -30px;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 99%;
    min-width: 99%;
    height: 227px;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* Style the button used to pause/play the video */
  #pause-buttom {
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: #000;
    color: white;
    cursor: pointer;
  }

  #pause-buttom:hover{
    background-color: white;
    transition: 0.15s linear;
    color: black;
  }

  #read-buttom {
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
  }
  
  #read-buttom:hover {
    background-color: white;
    transition: 0.15s linear;
    color: black;
  }

  #more {display: none;}


  .p-content{
      font-size: 20px;
      margin-top: 0;
      padding-top: 0;
  }

  .h1-content{
      display: inline-block;
  }